*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    padding: 20px;
    text-align: center;
}

.main-section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main-section > img{
    width: 50%;
}

.main-section > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    /* padding-left: 5vw; */
}

.main-section > div > *{
    padding: 10px 10px;
    font-size: 1.3em;
}

.main-section > div > button{
    align-self: center;
    width: 150px;
    font-size: 1em;
    padding: 5px;
} 

.main-section > div > div{
    display: flex;
    justify-content: space-between
}

.main-section > div > div > input{
    width: 40%;
}